.timer-component {
    display: flex;
    flex-direction: column;
    margin-top: -250px;
    width: 400px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.user-input {
    display: flex;
    flex-direction: column;
}